<div class="row" [class.d-none]="isTitleClicked">
    <div class="col-1">
        <div class="form-check" [ngClass]="task.getPriorityContext()">
            <input type="checkbox" class="form-check-input">
            <i class="fas fa-fw fa-flag"></i>
        </div>
    </div>
    <div class="col-7">
        <a href="#" (click)="titleClicked($event)">{{ task.todo }}</a>
    </div>
    <div class="col-3">{{ task.deadline }}</div>
    <div class="col-1 text-right">
        <a href="#" class="text-danger d-none" (click)="removeClicked($event)">
            <i class="fas fa-times"></i>
        </a>
    </div>
</div>
<div class="row" *ngIf="isTitleClicked">
    <div class="col">
        <tas-edit-task [task]="task" [ok-title]="'Update'" [focus]="isTitleClicked" (ok)="updateTask($event)" (cancel)="cancelClicked($event)"></tas-edit-task>
    </div>
</div>
