<nav class="navbar navbar-light bg-light mb-4">
    <div class="navbar-brand mx-auto">To Do List Angular</div>
</nav>
<div class="container">
    <!-- TASKS -->
    <div class="row mb-3">
        <div class="col">
            <tas-todo-tasks></tas-todo-tasks>
        </div>
    </div>
    <!-- ADD -->
    <div class="row mb-3">
        <div class="col">
            <tas-add-task></tas-add-task>
        </div>
    </div>
    <!-- DONE TASKS -->
    <div class="row mb-3">
        <div class="col">
            <tas-done-tasks></tas-done-tasks>
        </div>
    </div>
    <!-- NOTIFICATIONS -->
    <simple-notifications [options]="options"></simple-notifications>
</div>